body {
  font-family: 'Ubuntu', sans-serif;
  background-color: #2bffa3; /* Fallback background color */
  margin: 0;
  padding: 0;
  text-align: center; /* Center align text */
  color: white; /* Default text color */
  font-weight: bold;
  /*overflow: hidden;
  /* Remove this line to enable scrolling
}

/* Style for the container box */
.container {
  background-color: #a29e9f; /* Inside color */
  border: 10px solid #838181; /* Border color and width */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Shadow effect */
  padding: 10px;
  margin: 50px auto;
  width: 80%;
  max-width: 600px;
  position: relative;
  z-index: 1;
}

h1 {
  font-size: 24px;
  color: #007bff; /* Blue text color */
  margin-top: 0;
}

.input-container {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input, select {
  width: calc(100% - 22px);
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  font-size: 14px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  color: white; /* Input text color */
  text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000; /* Black text outline */
  background-color: #dddddd; /* Input background color */
}

.button-container {
  text-align: center;
}

button {
  background-color: #2bffa3; /* Button center color */
  color: white; /* Button text color */
  border: 5px solid #26bf7c; /* Button border color and width */
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 10px; /* Rounded corners */
  transition: background-color 0.3s;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000; /* Black text outline */
}

button:hover {
  background-color: #26bf7c; /* Change to a darker shade on hover */
}

.result-container {
  background-color: #883838; /* Result box background color */
  border: 10px solid #702f2f; /* Border color and width */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Shadow effect */
  padding: 20px;
  margin-top: 20px;
  position: relative;
  z-index: 1;
}

p {
  font-size: 16px;
  color: white; /* Result text color */
  font-weight: bold;
  text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000; /* Black text outline */
}

/* Additional font import for Ubuntu Bold */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');
